body
{
    background-color: rgb(222, 235, 109);
    color: rgb(226, 80, 43);
}
#head
{   color: black;
    text-align: center;
}
#heading
{
    color:brown;
    text-align: center;
}
#box {
    width: 10%;
    border: 10px solid rgb(255, 208, 0);
    padding: 5%;
    margin-left: 39%;
    margin-right: 51%;
  }
#inc ,#dec
{
    width: 20%;
    font-size: 2rem;
    border: 5px solid rgb(192, 131, 116);
    background-color: rgb(226, 80, 43);
    color: rgb(143, 1, 1);
    padding: auto;
    margin-left: 40%; 
}
footer
{
    text-align: center;
    margin-top: 250px;
}
#reset, #save
{
    width: 20%;
    border: 3px solid rgb(161, 13, 13);
    background-color: coral;
    color: rgb(128, 13, 13);
    margin-left: 40%;
}
#inc, #dec
{
    touch-action: manipulation;
}